<footer class="footer">
  <div class="container">
		<div class="hidden-xs text-center">
			<p>The contents of this website are &copy;&nbsp;{{ site.time | date: '%Y' }} under the terms of the 
				<a href="{{ site.repository }}/blob/master/LICENSE">MIT&nbsp;License</a>.</p>
		</div>
		<div class="visible-xs-block text-center">
			<p>
				Proudly hosted by
				<a href="https://github.com">
					<img src="/img/footer-logo.png" width="100" height="30" alt="GitHub • Social coding">
				</a>
			</p>
		</div>
  </div>
</footer>
